*{
    margin: 0;
    padding: 0;
    font-family :'Courier, monospace';
}

header{
    display: flex;
    background-color: blueviolet;
}

.pisces{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: Gill Sans;
}

.logo{
     margin: 5px;
}

nav{
    background-color: rgb(12, 181, 238);
    display: flex;
}
.nav{
    padding: 15px;
    font-family:;
}
main{
    display: flex;
    background-color:darkgray ;  
}